{{#> page}}
    {{#*inline "main"}}
        <article>
            <h1>Hello World</h1>
            <p>Welcome to the html-handlbars stage templates boilerplate.</p>
        </article>
    {{/inline}}
{{/page}}
